.github/KM15-103H-/
/kernel.bin
/rootfs.bin
/uboot_ram.bin
wireless_patched.js
kernel_backup_fit.bin
kernel_patched.bin
__pycache__/
tmp*/
hostap*/
scratch*/
fake_build/
*.tar.gz
*.zip
*.log
test*.sh
test*.patch
patch*.py
fix*.sh
fix*.py
router-fix.sh
check.sh
get_logs.py
tmp_blob
tmp_git_log.*
logo.jpeg
